.main {
  min-height: 100vh;
  padding: 24px;
}

.listTitle {
  margin: 0;
  margin-bottom: 12px;
}

.listSubtitle {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 24px;
}

.movie {
  align-items: baseline;
  border-bottom: solid lightgrey 1px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: max-content 80px 1fr;
  grid-template-areas:
    'score poster details'
    'releaseType poster details'
    '. poster details';
  height: calc(120px + calc(8px * 2));
  padding: 8px 0;
}

.movie:last-child {
  border-bottom: none;
}

img.moviePoster {
  border: solid lightgrey 1px;
  border-radius: 3px;
  grid-area: poster;
  max-height: 100%;
  max-width: 100%;
}

.missingMoviePoster {
  background-color: lightgrey;
  border: solid lightgrey 1px;
  border-radius: 3px;
  grid-area: poster;
  height: 100%;
}

.movieDetails {
  grid-area: details;
  overflow: hidden;
}

.score {
  border-radius: 3px;
  font-size: 0.8rem;
  grid-area: score;
  margin: 0;
  padding: 4px 8px;
  width: max-content;
}

.score.high {
  background-color: lightgreen;
  color: darkgreen;
}

.score.mid {
  background-color: khaki;
  color: olive;
}

.score.low {
  background-color: pink;
  color: darkred;
}

.title {
  font-size: 1.1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.credits {
  align-items: center;
  display: flex;
  margin: 8px 0;
}

.credits > p {
  font-size: 0.7rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.credits > svg {
  height: 12px;
  margin-right: 8px;
  stroke: black;
  width: 12px;
}

.releaseDate {
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-top: 12px;
  text-transform: uppercase;
}

.releaseType {
  grid-area: releaseType;
  justify-self: center;
}

.iconBackground {
  align-items: center;
  border: solid black 1px;
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.releaseIcon {
  font-size: 0.7rem;
}
