.main {
  min-height: 100vh;
  padding: 24px;
}

.listTitle {
  margin: 0;
  margin-bottom: 12px;
}

.listSubtitle {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 24px;
}

.movie {
  align-items: baseline;
  border-bottom: solid lightgrey 1px;
  display: grid;
  grid-template-columns: max-content 80px 1fr;
  grid-template-areas: 'score poster details';
  height: calc(120px + calc(8px * 2));
  padding: 8px 0;
}

.movie:last-child {
  border-bottom: none;
}

.firstMovie .scoreWrapper {
  border-top-left-radius: 10px;
}

.lastMovie .scoreWrapper {
  border-bottom-left-radius: 10px;
}

img.moviePoster {
  border: solid lightgrey 1px;
  border-radius: 3px;
  grid-area: poster;
  max-height: 100%;
  max-width: 100%;
}

.missingMoviePoster {
  background-color: lightgrey;
  border: solid lightgrey 1px;
  border-radius: 3px;
  grid-area: poster;
  height: 100%;
}

.movieDetails {
  grid-area: details;
  overflow: hidden;
  padding-left: 8px;
}

.scoreWrapper {
  grid-area: score;
  margin-right: 8px;
}

.scoreBackground {
  border-radius: 3px;
  display: flex;
  width: max-content;
}

.score {
  margin: 0;
  padding: 4px 8px;
}

.scoreWrapper.high .scoreBackground {
  background-color: lightgreen;
  color: darkgreen;
}

.scoreWrapper.mid .scoreBackground {
  background-color: khaki;
  color: olive;
}

.scoreWrapper.low .scoreBackground {
  background-color: pink;
  color: darkred;
}

.title {
  font-size: 1.1rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.credits {
  align-items: center;
  display: flex;
  margin: 8px 0;
}

.credits > p {
  font-size: 0.7rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.credits > svg {
  height: 12px;
  margin-right: 8px;
  stroke: black;
  width: 12px;
}

.releaseDate {
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
  margin-top: 12px;
  text-transform: uppercase;
}
