.main {
  min-height: 100vh;
  padding: 16px;
}

.movies {
  align-items: center;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: max-content 1fr;
}

.score {
  margin: 0;
  padding: 8px;
}

.score.high {
  background-color: lightgreen;
  color: darkgreen;
}

.score.mid {
  background-color: khaki;
  color: olive;
}

.score.low {
  background-color: pink;
  color: darkred;
}

.title {
  margin: 0;
}
